body {
    background-color: white;
    margin: 0;
}
html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #778899;
    font-size: 2rem;
}

.banner a {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #778899;
}

.navbar a {
    color: white;
}

.post-tuite {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.post-tuite form {
    text-align: end;
}

.help-text {
    text-align: start;
}

textarea {
    resize: none;
    padding: 5px;
}

.button-submit {
    background: #778899;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-tuites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card-tuite {
    width: 70%;
    padding: 20px;
    padding-right: 35px;
    background: white;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #778899;
}

.card-author {
    padding-bottom: 12px;
}

.card-author a {
    color: 	#778899;
}

.card-content {
    padding-bottom: 8px;
}

.card-like {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 21px;
}

.card-like p {
    margin: 0;
    margin-left: 5px;
    color: lightcoral;
}

.card-like a {
    color: lightcoral;
}

.card-like:hover a {
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.profile h2 {
    margin-top: 8px;
    margin-bottom: 0;
}

.profile-edit-button {
    margin-bottom: 16px;
    color: #778899;
}

.follow-button {
    background: #778899;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.fa-plus {
    padding-right: 5px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.profile-follow {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.profile-followers {
    color: #778899;
}

.profile-follow div {
    color: #778899;
    margin-right: 5px;
    font-size: 1.2rem;
}

.profile-edit {
    padding-left: 30px;
    padding-top: 30px;
}

.profile-edit a {
    color: #778899;
}

.likes {
    font-size: 0.7rem;
}

.login {
    padding: 30px 0 0 30px;
}

.login p {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.signup {
    padding: 30px 0 0 30px;
}

.signup .helptext, .signup ul {
    font-size: 0.8rem;
}

.followers {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 30px;
}

.followers > a {
    color: #778899;
    margin-bottom: 16px;
}

.followers-title {
    color: #778899;
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.followers-container {
    display: flex;
    flex-wrap: wrap;
}

.followers-container a {
    margin-right: 15px;
    margin-bottom: 15px;
}

.card-follower {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #778899;
    border-radius: 4px;
    padding: 20px;
}

.card-follower-content {
    display: flex;
    align-items: center;
    color: #778899;
}

.card-follower-img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-right: 10px;
}