{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body>
        <h2>Tuirer</h2>
        
        {% include 'includes/navbar.html' %}

        <div>
            {% block body %}
                Hello.
            {% endblock %}
        </div>

        <!-- <form action="">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Nome">
            <input type="submit" value="Enviar">
        </form> -->
    </body>
</html>