{% extends 'base.html' %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container-tuites">
        {% if request.user.is_authenticated %}
            {% for tuite in tuites %}
                {% include 'includes/card.html' %}
            {% endfor %}
        {% else %}
            {% for tuite in tuitesVisitante %}
                {% include 'includes/card.html' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}